@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Conheça mais sobre nós, <a href="https://github.com/gabrielcordeiropereira">Gabriel Cordeiro</a> e <a href="https://github.com/djakinho">Djakson Cleber</a>.</p>
</div>
